<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>LOGIN PAGE</title>
<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
  <div id="loginp">
    
      <form method="post" action="/validateUser" class="loginform" >
        
	<label for="email">Enter emailID</label><br>
	<input type="text" name="email"  id="email"><br>
	<label>Enter password</label><br>
	<input type="password" name="password" ><br>
	<input type="submit" value="login" id="loginBtn">
</form>
<p style="color: rgb(156, 173, 233);">if dont have a account <a href="/register" >REGISTER</a></p>

</div>

</body>
</html>