<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>REGISTER PAGE</title>
<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body >
	<div  class="register">
        <form action="/addUser" method="post">
        <label>User Name:</label><br>
        <input type="text" name="username" class="et"><br><br>
        <label>E-mail:</label><br>
        <input type="text" name="email" sclass="et"><br><br>
        <label>Password:</label><br>
        <input type="password" name="password" class="et"><br><br>
        
        <label>Role:</label><br>
        <div class="radio">
        <input type="radio" name="role"   id="role" value="Teacher">
        <label>Teacher</label>
        <input type="radio" name="role" value="Student" id="role">
        <label>Student</label>
        </div>
        <br><br>

        <input type="submit" value="Done!" id="loginBtn"></form>
        </div>
</body>
</html>